body{
    margin: 0;
    background-color: #FFFECD;
    font-family: sans-serif;
}

.menu {
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: #2D241A;
}

.nav {
    padding: 0;
    padding-top: 30px;
}

.nav li {
    list-style: none;
    margin-bottom: 10px;
}

.nav li a{
    display: block;
    text-decoration: none;
    color: #909090;
    font-size: 16px;
    padding: 10px 20px;

}

.nav li:hover {
    background-color: #FFFECD;
}

.nav li .active {
    background-color: #FFFECD;
    color: black;
}

.logo {
    max-width: 100%;
}

.content {
    position: absolute;
    left: 500px;
    top: 120px;
}

.option {
    width: 550px;
    height: 60px;
    margin-bottom: 10px;
    background-color: #2D241A;
    border-color: #2D241A;
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: #909090;
}

.option:hover {
    cursor: pointer;
}

#firstPart {
    background-color: #2D241A;
    height: 100px;
    margin-right:-7px;
    margin-left: -7px;
    margin-top: -7px;
}

#secondPart {
    background-color: #fffecd;
    height: 490px;
    padding: 35px 40px;
    width: 1265px;

    margin-left: -6px;
}

#user {
    width: 250px;
    height: 20px;

}

#name {
    margin-bottom: 3px;
}

#parola {
    width: 250px;
    height: 20px;

}

#pass {
    margin-bottom: 3px;
}

h1 {
    color: #f9df8d;
    font-weight: normal;
    margin-left: 30px;
    margin-top: -5px;
    padding-top: 10px;
}


.button {
    width: 250px;
    border-radius: 10px;
    border: 1px solid black;
    height: 25px;
    background-color:white;
    margin-top: 10px;
}



#secondPart form p {
    font-weight: bold;
    font-size: small;
}









